
{% extends "layout.html" %}

{% block pageTitle %}
  Find an apprentice for my business
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find an apprentice for my business
      </h1>
      <p>
        We need to know the type of apprentice you would like to recruit. Start by entering a few keywords and we will show you the apprenticeships available
      </p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Search by keywords
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" placeholder="e.g Hairdresser" >
          </div>
          <div class="govuk-form-group">
          <a class="govuk-button govuk-button--start" href="step2.html">Search</a>
        </div>

    </div>
</div>

{% endblock %}
