
{% extends "layout.html" %}

{% block pageTitle %}
  Find an apprentice for my business
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Search results
      </h1>

      <p>There are <strong>68 training</strong> options for the Hairdressing, level 2 apprenticeship.</p>

      <p>Results are ordered by distance from '<strong>CV1 2WT</strong>'.</p>

      <div id="provider-results">

              <article class="result">
                    <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                      <h2 class="govuk-heading-s">HEART OF ENGLAND TRAINING LIMITED</h2>
                      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1"><strong>Distance:</strong> 1 mile away, <strong>Achievement rate:</strong> 94%</p>
                        <p class="govuk-body govuk-!-font-size-19">Quotes from £7000</p>
                    </label>
                  </div>
              </article>

              <article class="result">
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    <h2 class="govuk-heading-s">Coventry &amp; Warwickshire Chamber of Commerce Training</h2>
                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0"><strong>Distance:</strong> 1 mile away, <strong>Achievement rate:</strong> 94%</p>
                  <p class="govuk-body govuk-!-font-size-19">Quotes from £7000</p>
                  </label>
                </div>
            </article>

            <article class="result">
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    <h2 class="govuk-heading-s">Interserve Learning &amp; Employment  </h2>
                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0"><strong>Distance:</strong> 1 mile away, <strong>Achievement rate:</strong> 94%</p>
                 <p class="govuk-body govuk-!-font-size-19">Quotes from £7000</p>
                  </label>
                </div>
            </article>
            <article class="result">
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                    <h2 class="govuk-heading-s"> University College Birmingham </h2>
                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0"><strong>Distance:</strong> 1 mile away, <strong>Achievement rate:</strong> 94%</p>
                  <p class="govuk-body govuk-!-font-size-19">Quotes from £7000</p>
                  </label>
                </div>
            </article>
            <article class="result">
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                    <h2 class="govuk-heading-s"> Warwickshire College Group </h2>
                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0"><strong>Distance:</strong> 1 mile away, <strong>Achievement rate:</strong> 94%</p>
                  <p class="govuk-body govuk-!-font-size-19">Quotes from £7000</p>
                  </label>
                </div>
            </article>


<p><a href="step5" class="govuk-button">Request a quote from selected training providers</a> </p>

    </div>
</div>

{% endblock %}
