
{% extends "layout.html" %}

{% block pageTitle %}
  Find an apprentice for my business
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Search results
      </h1>

      <p>There are 68 training options for the Hairdressing, level 2 apprenticeship.</p>

      <p>Results are ordered by distance from 'CV1 2WT'.</p>

      <ul>
      <li>
        <p>Coventry & Warwickshire Chamber of Commerce Training</p>
        </li>
        <li>
        <p>HEART OF ENGLAND TRAINING LIMITED</p>
        </li>
</ul>

<p><a href="step5" class="govuk-button">Request a quote from selected training providers</a> </p>

    </div>
</div>

{% endblock %}
